footer {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 60px 50px;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer .menu-list {
  list-style: none;
}

footer .social a {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0px 8px 5px 8px;
  background: #222;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 10px;
  border-radius: 4px;
}

footer .social a:hover {
  background: rgb(233, 133, 2);
}
